
.header-container {
  display:flex;
  width:1fr;
  margin:auto;
  background-image: url('../assets/BG.png') ;
  background-size: cover ;
  background-repeat: no-repeat ;
  background-position: center, center;
  background-color: #F8E4CA;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "colmn1-header colmn2-header";
  justify-items: center;
  border-bottom: 5vw solid #316880;
  width:100%;
  padding:0;
  margin: 0;
  background-color: transparent;
}

.colmn1-header {
  grid-area: colmn1-header;
  display: flex;
  margin: 0 0 -10% 20%;
  align-content: end;
  background-color: transparent;
  width:auto;
} 

.duckyimg {
  width: auto;
  height: 35vw;
  align-self: end;
  justify-self: end;
  background-color: transparent;
}

.colmn2-header {
  grid-area: colmn2-header;
  display: flex;  
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
}

.header h1 {
  font-size: 6vw;
  margin: 1vw 1vw 0;
  text-align: center;
  text-shadow: 5px 5px 5px rgba(255, 255, 255, 0.227);
  background-color: transparent;
}

.header h3 {
  font-size: 1.5vw;
  margin: 0 1vw 1vw;
  text-align: center;
  word-spacing: 3vw;
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.227);
  background-color: transparent;
}

@media screen and (max-width: 800px) {
  .header-container {
    display:flex;
   width:1fr;
  }

  .header {
    grid-template-columns: 1fr;
    grid-template-areas:
      "colmn1-header"
      "colmn2-header";
    background-size: 100% 50%;
    background-position: 50% 50%;
    border-bottom: 10vw solid #316880;
  }

  .colmn1-header {
    align-content: center;
    margin: 0;
    justify-content: center;
    width:100%;
  }
  .duckyimg {
    height: 80vw;
    margin: auto;
    align-self: center;

  }

  .column2-header {
    justify-content: center;
    width:100%;
  }

  .header h1 {
    font-size: 10vw;
    margin-top:-40px;
    text-align: center;
    text-shadow: 5px 5px 5px rgba(255, 255, 255, 0.227);
    background-color: transparent;
  }
  .header h3 {
    font-size: 3vw;
    margin: 0 1vw 1vw;
    text-align: center;
    word-spacing: 3vw;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.227);
    background-color: transparent;
  }
};
