.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "colmn1-header colmn2-header";
  height: fit-content;
  justify-items: center;
  background-image: url(./assets/flipedBG.png);
  background-repeat: no-repeat;
  background-size: 100% 70%;
  background-position: 50% 70%;
  border-bottom: 5vw solid #316880;
}

.colmn1-header {
  grid-area: colmn1-header;
  display: flex;
  margin: 0 0 -10% 20%;
  align-content: end;
  background-color: transparent;
} 

.duckyimg {
  width: auto;
  height: 35vw;
  align-self: end;
  justify-self: end;
  background-color: transparent;
}

.colmn2-header {
  grid-area: colmn2-header;
  display: flex;  
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
}

.header h1 {
  font-size: 6vw;
  margin: 1vw 1vw 0;
  text-align: center;
  text-shadow: 5px 5px 5px rgba(255, 255, 255, 0.227);
  background-color: transparent;
}

.header h3 {
  font-size: 1.5vw;
  margin: 0 1vw 1vw;
  text-align: center;
  word-spacing: 3vw;
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.227);
  background-color: transparent;
}

