/* Whole componate */
.project-home{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 200vh;
    position: relative;
    
}



/* space around cards */
.scroll-container{
    display: grid;
    grid-column-start: 2;
    grid-column-end: 4;
    overflow: hidden;
    position: sticky;
    top: 0;
}

/* actual cards */
 .cards-container{
    display: flex;
    gap:5vh;
    list-style-type: none;
    padding: 10vh;
    margin-top: 10vh;
    
}


.title{
    position: sticky;
    top:10vh;
    padding: 10vh;
    margin-top: 10vh;
    margin-left: 10vh;
    margin-right:15vh;
    grid-column: 1;
    z-index:100;
      
}
