.Software {
    width: 100%;
}

.container {
    padding: 2rem;
}

.row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.software-h2 {
    grid-column: 1 / -1;
    margin: 2rem;
    font-size: 3rem;
}

@media screen and (max-width: 900px) {
    .row {
        grid-template-columns: 1fr;
    }
}

.adobe-h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.adobe-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.adobe-item {
    background-color: white;
    border: var(--primary-border-color) solid 5px;
    padding: 1rem;
    text-align: center;
    border-radius: var(--border-radius);
    font-size: 1.2rem;
    border: black solid 1px;
}

.colmn1, .colmn2, .colmn3 {
    margin: 1rem 0;
}

.colmn1-container,
.colmn2-container,
.colmn3-container {
    padding: 1rem;
}

/* Media Queries */
@media screen and (max-width: 500px) {
    .adobe-grid {
        grid-template-columns: 1fr;
    }

    .software-h2 {
        font-size: 2.5rem;
    }

    .adobe-h2 {
        font-size: 2rem;
    }
}